# web and desktop version
/web-desktop/node_modules
/web-desktop/.pnp
/web-desktop/.pnp.js
/web-desktop/coverage
/web-desktop/build
/web-desktop/.DS_Store
/web-desktop/.env.local
/web-desktop/.env.development.local
/web-desktop/.env.test.local
/web-desktop/.env.production.local
/web-desktop/npm-debug.log*
/web-desktop/yarn-debug.log*
/web-desktop/yarn-error.log*

# mobile
/mobile/node_modules/**/*
/mobile/.expo/*
/mobile/npm-debug.*
/mobile/*.jks
/mobile/*.p8
/mobile/*.p12
/mobile/*.key
/mobile/*.mobileprovision
/mobile/*.orig.*
/mobile/web-build/
/mobile/.DS_Store


