# web version
/web/node_modules
/web/.pnp
/web/.pnp.js
/web/coverage
/web/build
/web/.DS_Store
/web/.env.local
/web/.env.development.local
/web/.env.test.local
/web/.env.production.local
/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*

# desktop version
/desktop/node_modules
/desktop/.pnp
/desktop/.pnp.js
/desktop/coverage
/desktop/build
/desktop/.DS_Store
/desktop/.env.local
/desktop/.env.development.local
/desktop/.env.test.local
/desktop/.env.production.local
/desktop/npm-debug.log*
/desktop/yarn-debug.log*
/desktop/yarn-error.log*