.tool-bar {
    width: 100px;
    height: 100vh;
    display: flex;
    align-items: center;

    .buttons-container {
        width: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;

        .button {
            -webkit-user-drag: none;
            cursor: pointer;
            transition: opacity 0.05s ease-in-out;
            margin-bottom: 60px;

            &:hover {
                opacity: 0.8;
            }

            &.main-button {
                height: 40px;
            }

            &.stop {
                width: 35px;
            }

            &.timer {
                width: 42px;
            }
        }
    }
}
