.background-title {
    position: fixed;
    color: white;
    opacity: 0.03;
    font-size: 500px;
    left: 10vw;
    user-select: none;
    z-index: -5;
}

@media only screen and (max-width: 730px) {
    .background-title {
        left: -500px;
        font-size: 400px;
        transform: rotate(90deg);
    }
}
