.sounds-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: calc(100vw - 200px);
    justify-items: center;
    margin-top: 20vh;
}

@media only screen and (max-width: 730px) {
    .sounds-container {
        grid-template-columns: 1fr 1fr;
    }
}
